<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Division Proviciale de la Santé du Haut-Katanga, Gestion des Personnels, des Congés de leurs planifications">
    <title>Congeline</title>
    <!-- Link des fichier static -->
    <link rel="shortcut icon" href="{% static 'assets/img/chat.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/myStyle/myStyle.css' %}">
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/font-awesome.css' %}">
</head>
<body>

    <!-- Inclusion de sidebar dans le fichier de Base -->
    {% include "sidebar/sidebar.html" %}
    
    
    {% block content %}
    
    {% endblock content %}
    
    
    <!-- Inclusion du pied de page dans le fichier de Base -->
    {% include "footer/footer.html" %}
    
</body>
</html>


