<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gestion des plans d'actions opérationnelles grâce à une Ingénierie des processus Métiers bien définie">
    <link rel="shortcut icon" href="{% static 'assets/img/icon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/myStyle/myStyle.css' %}">
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <title>TAKELEAVE-DPS-HAUT-KATANGA</title>
</head>
<body>

    {% include "sidebar/sidebar.html" %}

    {% block content %}
    
    {% endblock content %}

    
    {% include "footer/footer.html" %}
    

</body>
</html>


