{% extends "baseIndexLogin/baseIndexLogin.html" %}
{% load static %}
{% block content %}
  

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-weight: normal;
    }
    .index .desc-site{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .index .desc-site .img-desc{
        width: 40%;
        margin-top: 20px;
    }
    .index .desc-site .img-desc img{
        width: 100%;
    }

    .index .desc-site .titles{
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 75px;
        margin-right: 10%;
        width: 40%;
    
    }
    .index .desc-site .titles h1{
        color: #60a5fa;
    }
    .index .desc-site .titles h1 span{
        color: #c084fc;
        
    }
    .index .desc-site .titles p{
        color: #d4dcff;
        font-size: 15px;
        font-weight: normal;
    }
    .index .desc-site .titles #dps{
        font-size: 18px;
    }
    .index .desc-site .titles a{
        padding: 14px;
        background-color: #643097;
        color: #fff;
        margin-top: 20px;
        outline: none;
    }
    .index .desc-site .titles a:hover{
        background-color: #5e2b91;
    }
    .title-app{
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 10px;
        text-align: center;
        padding-bottom: 60px;

    }
    .title-app .texte-app{
        box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.15);
        width: 98%;
        padding: 12px;
        color: #60a5fa;
        background-color: #1a1c35;
    }
    .title-app .texte-app strong #app{
        color: #d4dcff;
        font-size: x-large;
        margin-top: 15px;
    }
    .title-app .texte-app strong #services{
        color: #d4dcff;
        font-size: x-large;
    }


    .fonctionnnement {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        
    }

    .fonctionnnement .liste-app {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 260px;
        margin: 15px;
        text-align: center;
        border: 1px solid rgb(92, 154, 205);
        padding: 25px;
        border-radius: 2px;
        background-color: #171933;
        border-radius: 5px;
        border-top: 3px solid #8491c7;

    }

    .fonctionnnement .liste-app:hover {
        cursor: pointer;
        border-color:rgb(92, 154, 205);
    }

    .fonctionnnement .liste-app .texte-fonctionnement h5 {
        font-size: 14px;
        color: rgb(96, 101, 105);
        margin-top: 8px;
        text-align: center;
    }

    .fonctionnnement .liste-app .texte-fonctionnement p {
        font-size: 14px;
        color: #d4dcff;
    }

    .fonctionnnement .liste-app .img {
        width: 70px;
        height: 70px;
    }

    .fonctionnnement .liste-app .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .start{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 55px;
        margin-bottom: 55px;
        text-align: center;
    }
    .start .start-process{
        text-align: center;
    }
    .start .start-process p{
        color: #fff;
    }
    .start .start-process p span{
        color: #c084fc;
    }
    .start .start-process a{
        padding: 14px;
        background-color: #5b2a8d;
        color: #fff;
    }
    .start .start-process a:hover{
        background-color: #643097;
    }
    .index .localisation{
        display: flex;
        justify-content:center;
        align-items: flex-start;
    }
    .index .localisation .img{
        width: 420px;
    }
    .index .localisation .img img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }



    @media(max-width:800px){
        .index .desc-site .titles #dps{
   
        text-align: center;
    }
    .index .desc-site{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 96%;
        padding: 10px;
    }
    .index .desc-site .img-desc{
        width: 100%;
        margin-top: 20px;
    }
    .index .desc-site .img-desc img{
        width: 100%;
    }

    .index .desc-site .titles{
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 15px;
        margin-right: 10%;
        width: 100%;
        text-align: justify;
    
    } 
    }

    @media(max-width:906px) {
        .fonctionnnement .liste-app {
            width: 300px;
        }
    }

    @media(max-width:676px) {
        .fonctionnnement .liste-app {
            width: 96%;
        }

    }
</style>




<section class="index">
    <div class="desc-site">
        <div class="titles">
            <p id="dps">Division Provinciale de la Santé du Haut-Katanga</p>
            <p>Alignement des Processus métiers de Gestion des Personnels <br>Planification et demande des Congés
            <br>
            Gérer efficacement les Personnels et leurs demands des Congés sans beaucoup des peines grâce à l'Ingénierie des Processus Métiers
            
            </p>
            <a href="{% url 'loginUser' %}" class="btn">Commencez maintenant</a>
        </div>
        <div class="img-desc">
            <img src="{% static 'img/processMetier.png' %}" alt="">
        </div>
    </div>

    <!-- Début des services ou listes applications -->
    <div class="title-app">
        <div class="texte-app">
            <strong><span id="app">Les Meilleurs Solutions</span></strong>
            <section class="fonctionnnement">
                <div class="liste-app">
                    <div class="img">
                        <img src="{% static 'img/contrats.png' %}" alt="">
                    </div>
                    <div class="texte-fonctionnement">
                        <h5>Gestion des Congés</h5>
                        <p>Fini la Gestion manuelle des demandes des Congés</p>
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                    </div>
                </div>
                <div class="liste-app">
                    <div class="img">
                        <img src="{% static 'img/744406.png' %}" alt="">
                    </div>
                    <div class="texte-fonctionnement">
                        <h5>Gestion des Personnels</h5>
                        <p>Gestion des Personnels, connaître qui est qui ?</p>
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                    </div>
                </div>
                <div class="liste-app">
                    <div class="img">
                        <img src="{% static 'img/contracter.png' %}" alt="">
                    </div>
                    <div class="texte-fonctionnement">
                        <h5>Gestion des Planifications</h5>
                        <p>Planifier les congés sans beacoup des peines</p>
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                    </div>
                </div>
                <div class="liste-app">
                    <div class="img">
                        <img src="{% static 'img/cadenas2.png' %}" alt="">
                    </div>
                    <div class="texte-fonctionnement">
                        <h5>Tout securisé</h5>
                        <p>Configurer les Profils et reduire l'accès aux données</p>
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                        <img src="{% static 'img/etoile.png' %}" alt="">
                    </div>
                </div>
            </section>
        
        </div>
    </div>

    
    <!-- Fin des Services -->

    <!-- <section class="start">
        <div class="start-process">
            <p>Commencez maintenant les <span>processus de demande ou de planification des Congés</span></p>
            <a href="{% url 'loginUser' %}" class="btn">Commencez maintenant</a>
        </div>
    </section>


    <section class="localisation">
        <div class="img">
            <img src="{% static 'img/process.png' %}" alt="">
        </div>
    </section> -->

</section>
{% endblock content %}