{% extends "base/base.html" %}
{% load static %}
{% block content %}

<style>
    .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgb(40, 40, 88);
        padding: 5%;
    }

    .content .desc-site{
        width: 50%;
       
    }
    .content .desc-site h1{
        color: #fff;
        font-weight: normal;
        font-size: xx-large;
       
    }
</style>


<div class="content">

    <div class="desc-site">
        <h1>Alignement des Processus métiers de Gestion des Personnels, Planification et demande des Congés</h1>
        <a href="{% url 'loginUser' %}" class="btn">Commencez maintenant</a>
    </div>
    <div class="img-desc-site">
        <img src="{% static 'img/processMetier.png' %}" alt="">
    </div>
</div>
  
{% endblock content %}