{% extends "baseIndexLogin/baseIndexLogin.html" %}
{% load static %}
{% block content %}
  

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-weight: normal;
    }

    .index .titles{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 75px;
    }
    .index .titles h1{
        color: #60a5fa;
    }
    .index .titles h1 span{
        color: #c084fc;
        
    }
    .index .titles p{
        color: #fff;
        font-size: 15px;
        font-weight: normal;
    }
    .index .titles #dps{
        font-size: 18px;
    }
    .index .titles a{
        padding: 14px;
        background-color: #5b2a8d;
        color: #fff;
        margin-top: 20px;
    }
    .index .titles a:hover{
        background-color: #643097;
    }

    .fonctionnnement {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 70px;
    }

    .fonctionnnement .liste-app {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 290px;
        margin: 15px;
        text-align: center;
        border: 1px solid #444444;
        padding: 25px;
        border-radius: 2px;
        background-color: #13131b;
        border-radius: 5px;
        border-top: 3px solid #643097;

    }

    .fonctionnnement .liste-app:hover {
        cursor: pointer;
        border-color:rgb(92, 154, 205);
    }

    .fonctionnnement .liste-app .texte-fonctionnement h5 {
        font-size: 14px;
        color: rgb(92, 154, 205);
        margin-top: 8px;
        text-align: center;
    }

    .fonctionnnement .liste-app .texte-fonctionnement p {
        font-size: 14px;
        color: #fff;
    }

    .fonctionnnement .liste-app .img {
        width: 70px;
        height: 70px;
    }

    .fonctionnnement .liste-app .img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .start{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 55px;
        margin-bottom: 55px;
        text-align: center;
    }
    .start .start-process{
        text-align: center;
    }
    .start .start-process p{
        color: #fff;
    }
    .start .start-process p span{
        color: #c084fc;
    }
    .start .start-process a{
        padding: 14px;
        background-color: #5b2a8d;
        color: #fff;
    }
    .start .start-process a:hover{
        background-color: #643097;
    }
    .index .localisation{
        display: flex;
        justify-content:center;
        align-items: flex-start;
    }
    .index .localisation .img{
        width: 420px;
    }
    .index .localisation .img img{
        width: 100%;
        object-fit: cover;
        object-position: center center;
    }




    @media(max-width:906px) {
        .fonctionnnement .liste-app {
            width: 300px;
        }
    }

    @media(max-width:676px) {
        .fonctionnnement .liste-app {
            width: 96%;
        }
        .index .titles{
            margin-right: 8px;
            margin-bottom: 8px;
    }
    .start .start-process{
        margin-right: 8px;
        margin-bottom: 8px;
    }

    }
</style>




<section class="index">
    <div class="titles">
        <p id="dps">Division Provinciale de la Santé du Haut-Katanga</p>
        <!-- <h1><span>Planification et demande des Congés</span> en ligne</h1> -->
        <p>Alignement des Processus métiers de Gestion des Personnels <br>Planification et demande des Congés</p>
        <a href="{% url 'loginUser' %}" class="btn">Commencez maintenant</a>
    </div>

    <!-- Début des services ou listes applications -->
    <section class="fonctionnnement">
        <div class="liste-app">
            <div class="img">
                <img src="{% static 'img/contrats.png' %}" alt="">
            </div>
            <div class="texte-fonctionnement">
                <h5>Gestion des Congés</h5>
                <p>Fini la Gestion manuelle des demandes des Congés</p>
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
            </div>
        </div>
        <div class="liste-app">
            <div class="img">
                <img src="{% static 'img/744406.png' %}" alt="">
            </div>
            <div class="texte-fonctionnement">
                <h5>Gestion des Personnels</h5>
                <p>Gestion des Personnels, connaître qui est qui ?</p>
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
            </div>
        </div>
        <div class="liste-app">
            <div class="img">
                <img src="{% static 'img/contracter.png' %}" alt="">
            </div>
            <div class="texte-fonctionnement">
                <h5>Gestion des Planifications</h5>
                <p>Planifier les congés sans beacoup des peines</p>
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
            </div>
        </div>
        <div class="liste-app">
            <div class="img">
                <img src="{% static 'img/cadenas2.png' %}" alt="">
            </div>
            <div class="texte-fonctionnement">
                <h5>Tout securisé</h5>
                <p>Configurer les Profils et reduire l'accès aux données</p>
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
                <img src="{% static 'img/etoile.png' %}" alt="">
            </div>
        </div>
    </section>
    
    <!-- Fin des Services -->

    <section class="start">
        <div class="start-process">
            <p>Commencez maintenant les <span>processus de demande ou de planification des Congés</span></p>
            <a href="{% url 'loginUser' %}" class="btn">Commencez maintenant</a>
        </div>
    </section>


    <section class="localisation">
        <div class="img">
            <img src="{% static 'img/process.png' %}" alt="">
        </div>
    </section>

</section>
{% endblock content %}