{% extends "base/base.html" %}
{% block content %}

<style>
 .annee{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 15px;
 }
 .annee .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
    width: 95%;
 }
 .annee .content .liste-annee{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #325e73;
    width: 200px;
    height: 100px;
    margin: 8px;
 }
 .annee .content .liste-annee:hover{
    background-color: teal;
 }
 .annee .content .liste-annee p{
    color: white;
 }
</style>
  
        <div class="annee">
            <div class="content">
                {% for liste_annee in liste_annee %}
                <a href="{% url 'planningUser' liste_annee.id %}">
                    <div class="liste-annee">
                        <p>{{liste_annee.designation}}</p>
                    </div>
                      
                </a>
                {% endfor %}
            </div>
        </div>
        

{% endblock content %}