{% extends "base/base.html" %}
{% load static %}
{% block content %}

<style>
    hr{
        color: #fbf9fc;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #f4f4f4;;
        
        
    }
    .content .alert{
        margin-top: 30px;

    }
    .content .contenu{
        margin-top: 55px;
        margin-bottom: 50px;
        padding: 22px;
        background-color: #fff;
        border-radius: 2px;
        width: 520px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
    }
    .content .contenu form{
        width: 100%;
    }
    .content .contenu .connexion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content .contenu form input{
        padding: 22px;
        margin-top: 7px;
        border: 1px solid rgb(147, 176, 209);
        outline: none;
        
    }
    .content .contenu form label{
        margin-top: 7px;
    }
    .content .contenu form button{
        margin-top: 15px;
        color: white;
        border-radius: 2px;
        padding: 15px;
        margin-bottom: 20px;
    }



    /*Media*/
    @media(max-width:800px){
        .content .contenu{
            width: 95%;
        }
    }
</style>

<div class="content">
    <div class="contenu">
        <div class="connexion">
            <p>Reinitialiser votre mot de passe<br></p>
        </div>
        <form action="" method="post" novalidate>
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <p>{{message}}</p>
            </div>
            {% endfor %}
            {% csrf_token %}
            <label for="email">Email : </label>
            {% for error in form.email.errors %}
              <p style="color: rgb(194, 146, 146);">Adresse E-mail invalide</p>
            {% endfor %}
            {{form.email}}
            <button type="submit" class="btn btn-info btn-block">Reinitialiser mon mot de passe</button>
            <a href="{% url 'loginUser' %}">Non, je me rappelle</a>
        </form>
    </div>
</div>
  
{% endblock content %}