{% extends "base/base.html" %}
{% block content %}

<style>
    .content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px;
        margin-top: 100px;
        
    }
    .content .titre p{
        color: rgb(29, 84, 147);
        margin-bottom: 8px;
        font-weight: bold;
    }
    .content .titre a{
        margin-bottom: 8px;
    }
    .content .contenu{
        width: 100%;
        
    }
    .content .contenu .rechercher button{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .content .contenu table tr th{
        background-color: rgb(16, 44, 76);
        color: white;
    }
</style>
  

<div class="content">
    <div class="contenu">
        <div class="rechercher">
            <form action="" method="get">
                <input type="text" name="recherche" placeholder="Rechecher un congé" class="form-control" required>
                <button type="submit" class="btn btn-success btn-block">Rechecher</button>
            </form>
        </div>
        <div class="titre">
            <a href="{% url 'approuveRejetConge' %}" class="btn btn-dark btn-block">Répondre aux demandes des Congés</a>
            <a href="{% url 'listeApprobationRejet' %}" class="btn btn-info btn-block">Mes Approbations</a>
            <p>Liste des Congés en Attente</p>
        </div>
        <table class="table tabele-responsive table-bordered">
            <tr>
                <th>N°</th>
                <th>Personnel</th>
                <th>Titre</th>
                <th>Motif</th>
                <th>Nature</th>
                <th>Date Création</th>
            </tr>
            {% for liste_object in liste_object %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{liste_object.personnel.getPersonnel}}</td>
                <td><a href="{% url 'detailConge' liste_object.id %}">{{liste_object.titre}}</a></td>
                <td>{{liste_object.motif|truncatewords:3}}</td>
                <td>{{liste_object.nature}}</td>
                <td>{{liste_object.date_creation}}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">Pas des demandes actuellement</td>
              </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock content %}