{% extends "base/base.html" %}
{% block content %}
 <style>
    .content{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 206px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
        margin-right: 15px;
        
    }
    .content  .contenus{
        margin-top: 15px;
    }
    .content .contenu{
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        flex-wrap: wrap;
        padding: 10px;
        margin-right: 20px;
        
    }
    .content .contenu .link{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 15px;
        width: 100%;
    }
    .content .contenu .link form{
        width: 100%;
    }
    .content .contenu .link form input{
        width: 100%;
        border: 1px solid cadetblue;
        margin-bottom: 10px;
    }
    .content .contenu .link a{
        margin-bottom: 20px;
        padding: 20px;
    }
    .content .contenus .contenu table{
        width: 100%;
    }
    .content .contenu table tr td a{
        color: teal;
    }


    @media(max-width:1135px) {
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
            margin-right: 5px;
            
        }
    .content  .contenus{
        margin-top: 15px;
        width: 95%;
    }
    .content .contenu{
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        flex-wrap: wrap;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
        padding: 10px;
        margin-right: 0;
        width: 100%;
        
    }
    .content .contenus .contenu table{
        width: 100%;
    }
    }
 </style>


<div class="content">
    <div class="contenus">
        <div class="contenu">
            <div class="link">
                
            <a href="{% url 'ajoutGrade' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span> Ajouter Grade</a>

                <form action="" method="GET">
                    <input type="text" name="recherche" class="form-control" required
                    placeholder="Rechercher ici..........." id="search">
                </form>        
            <p>Liste des Grades des Personnels</p>
            <div class="messages">
                {% for message in messages %}
                  <div class="alert alert-warning" role="alert">
                    <p>{{message}}</p>
                  </div>
                {% endfor %}
            </div>
            </div>
            <table class="table table-hover table-responsive">
                
            <tr>
                <th>N°</th>
                <th>Designation</th>
                <th>Hommes</th>
                <th>Femmes</th>
                <th>Total Personnels</th>
                <th>Date Création</th>
                <th>Date Modification</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
                
                {% for liste_object in liste_object %}
                <tbody id="myTable">
              
              <tr>
                <td>{{forloop.counter}}</td>
                <td style="text-transform: uppercase;"><span class="fa fa-eye"></span> <a href="{% url 'listePersonnelGrade' liste_object.id %}"> {{liste_object.designation}}</a></td>
                <td>{{liste_object.getNumberPersonMale}}</td>
                <td>{{liste_object.getNumberPersonFemale}}</td>
                <td>{{liste_object.TotalNumberPerson}}</td>
                <td>{{liste_object.date_creation}}</td>
                <td>{{liste_object.date_modification}}</td>
                <td><a href="{% url 'modifGrade' liste_object.id %}"><span class="fa fa-pencil"></span> Modifier</a></td>
                <td><a href="{% url 'suppGrade' liste_object.id  %}"><span class="fa fa-trash"></span>  Supprimer</a></td>
              </tr>
              
              {% empty %}
              <tr>
                <td colspan="5">Pas des Grades dans la Base de données</td>
              </tr>
                
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<script>

    $(document).ready(function(){
       $("#search").on("keyup", function(){
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function(){
             $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value)>-1)
          });
       });
    });
 
 </script>
  
{% endblock content %}

