{% extends "base/base.html" %}
{% block content %}

<style>
    .content{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 50px;
        margin-top: 100px;
    
        
    }
    .content .titre p{
        color: rgb(29, 84, 147);
        margin-bottom: 8px;
        font-weight: bold;
    }
    .content .titre a{
        margin-bottom: 8px;
    }
    .content .contenu{
        width: 100%;
        
    }
    .content .contenu table{
        width: 100%;
    }
    .content .contenu .rechercher button{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .content .contenu table tr th{
        background-color: rgb(16, 44, 76);
        color: white;
    }
</style>

<div class="content">
    <div class="contenu">
        <div class="rechercher">
            <form action="" method="get">
                <input type="text" name="recherche" placeholder="Rechecher un congé" class="form-control" required>
                <button type="submit" class="btn btn-success btn-block">Rechecher</button>
            </form>
        </div>
        <div class="titre">
            <a href="{% url 'confirmRetourConge' %}" class="btn btn-info btn-block">Confirmer votre retour</a>
            <p>Liste des congés que tu as confirmé ton retour</p>
        </div>
        <table class=" table table-responsive table-bordered">
            <tr>
                <th>N°</th>
                <th>Titre</th>
                <th>Nature</th>
                <th>Motif</th>
                <th>Commentaire</th>
                <th>Réponse</th>
                <th>Date Début</th>
                <th>Date Fin</th>
                <th>Nombre Jours</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
            {% for liste_object in liste_object %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="#">{{liste_object.demande.conge.titre|truncatewords:1}}</a></td>
                <td>{{liste_object.demande.conge.nature}}</td>
                <td>{{liste_object.demande.conge.motif|truncatewords:8}}</td>
                <td>{{liste_object.demande.commentaire|truncatewords:8}}</td>
                <td>{{liste_object.demande.getReponseConge|truncatewords:1}}</td>
                <td>{{liste_object.demande.date_debut}}</td>
                <td>{{liste_object.demande.date_fin}}</td>
                <td>{{liste_object.get_nombreJours|truncatewords:1}}Jours</td>
                <td><a href="#" class="btn btn-success">Modifier</a></td>
                <td><a href="#" class="btn btn-danger">Supprimer</a></td>
                
              </tr>
              {% empty %}
              <tr>
                <td colspan="8">Pas d'approbations ou rejets actuellement</td>
              </tr>
            {% endfor %}
        </table>
    </div>
</div>
  
{% endblock content %}