{% extends "base/base.html" %}
{% block content %}
<style>
    .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;



    }

    .content .dashboard {
        margin-top: 0px;
    }
    .content .dashboard .user-connect p{
        text-transform: capitalize;
        font-size: 1rem;
        color: #0b476d;
        font-weight: normal;
    }

    .content .contenu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        margin-right: 20px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
    }

    .content .contenu a p {
        font-size: 13px;
        font-weight: normal;
        margin-left: 25px;
    }

    .content .contenu .card-1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        margin: 8px;
        background-color: #3c5672;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .content .contenu .card-1:hover {
        background-color: #57799d;
    }

    .content .contenu .card-2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #4b6491;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;

    }

    .content .contenu .card-2:hover {
        background-color: #35486d;
    }

    .content .contenu .card-3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #e46050;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        border-left: 5px solid rgb(214, 66, 48);
        order: 4;
    }

    .content .contenu .card-3:hover {
        background-color: rgb(214, 66, 48);
    }

    .content .contenu .card-4 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #72b159;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .content .contenu .card-4:hover {
        background-color: #5D9547;
    }

    .content .contenu .card-5 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        margin: 8px;
        background-color: #176c9f;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .content .contenu .card-5:hover {
        background-color: #0b476d;
    }

    .content .contenu .card-6 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #524e8b;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .content .contenu .card-6:hover {
        background-color: #5f5aaa;
    }

    .content .contenu .card-7 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #445C75;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .content .contenu .card-7:hover {
        background-color: #324458;
    }

    .content .contenu .card-8 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        margin: 8px;
        background-color: #0f5a6b;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    .content .contenu .card-9{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        margin: 8px;
        background-color: #3d4983;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    .content .contenu .card-10{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        margin: 8px;
        background-color: #032c53;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .content .contenu .card-8:hover {
        background-color: #166e81;
    }

    .content .contenu a {
        text-decoration: none;
        color: white;
    }

    .trasanction {
        margin: 14px 8px 0px 0px;
    }

    .content-trans {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.15);
        width: 98%;

    }

    .content .contenu .search input {
        margin-bottom: 8px;
        height: 50px;
        border: 1px solid #7451eb;

    }

    .content-trans .contenu-trans {
        width: 100%;
    }

    .content-trans .contenu-trans table th {
        background-color: #5c7585;
        color: #fff;
        font-size: 14px;
    }
    .content-trans .contenu-trans tr td a{
        color: teal;
    }



    @media(max-width:1500px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 235px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 235px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 235px;
            margin-left: 0;
        }
        
        
    }


    @media(max-width:1200px) {
        .content .contenu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 200px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 200px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 200px;
            margin-left: 0;
        }
    }
    






    @media(max-width:1402px) {
        .content .contenu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 200px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 200px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 200px;
            margin-left: 0;
        }
    }
    

    @media(max-width:1280px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 320px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 320px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 320px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 320px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 320px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 320px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 320px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 320px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 320px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 320px;
            margin-left: 0;
        }
    }


    @media(max-width:1300px) {
        .content .contenu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 200px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 200px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 200px;
            margin-left: 0;
        }
    }




    @media(max-width:1135px) {
        .content {
            margin-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        .content .dashboard {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 95%;
            margin: 10px;
        }

        .content .contenu {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
            padding: 0;
            margin-right: 0;
            padding: 10px;

        }

    }

    @media(max-width:1076px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 235px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 235px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 235px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 235px;
            margin-left: 0;
        }
    }


    @media(max-width:1076px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 308px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 308px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 308px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 308px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 308px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 308px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 308px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 308px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 308px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 308px;
            margin-left: 0;
        }
    }


    @media(max-width:1037px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 220px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 220px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 220px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 220px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 220px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 220px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 220px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 220px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 220px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 220px;
            margin-left: 0;
        }
    }


    @media(max-width:998px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 289px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 289px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 289px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 289px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 289px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 289px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 289px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 289px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 289px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 289px;
            margin-left: 0;
        }
    }


    @media(max-width:975px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 200px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 200px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 200px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 200px;
            margin-left: 0;
        }
    }


    @media(max-width:913px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 262px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 262px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 262px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 262px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 262px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 262px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 262px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 262px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 262px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 262px;
            margin-left: 0;
        }
    }


    @media(max-width:913px) {
        .content .contenu{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 186px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 186px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 186px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 186px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 186px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 186px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 186px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 186px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 186px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 186px;
            margin-left: 0;
        }
    }



    @media(max-width:913px) {
        .content .contenu{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .content .contenu .card-1 {
            width: 300px;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 300px;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 300px;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 300px;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 300px;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 300px;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 300px;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 300px;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 300px;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 300px;
            margin-left: 0;
        }
    }




    @media(max-width:729px) {
        .content {
            margin-left: 0;
        }

        .content .contenu {
            width: 98%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .content .contenu a {
            width: 90%;
        }

        .content .contenu .card-1 {
            width: 98%;
            margin-left: 0;
        }

        .content .contenu .card-2 {
            width: 98%;
            margin-left: 0;
        }

        .content .contenu .card-3 {
            width: 98%;
            margin-left: 0;
        }

        .content .contenu .card-4 {
            width: 98%;
            margin-left: 0;
        }

        .content .contenu .card-5 {
            width: 98%;
            margin-left: 0;
        }

        .content .contenu .card-6 {
            width: 98%;
            margin-left: 0;
        }

        .content .contenu .card-7 {
            width: 98%;
            margin-left: 0;
        }

        .content .contenu .card-8 {
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .card-9 {
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .card-10 {
            width: 98%;
            margin-left: 0;
        }
    }

</style>


<section class="content">
    <section class="dashboard">
        {% if user.is_authenticated %}
        <div class="user-connect">
            <p>Bienvenue {{user.getPersonnelLogin}}</p>
        </div>
        {% endif %}
        <div class="contenu">
            <a href="{% url 'CongeUser' %}">
                <div class="card-1">
                    <p>{{nombreConge}} <br>Tous les Congés <span class="fa fa-cog"></span></p>
                </div>
            </a>
            <a href="{% url 'congeApprouve' %}">
                <div class="card-2">
                    <p>{{nombreApprouve}} <br>Congés Approuvés <span class="fa fa-check-circle"></span></p>
                </div>
            </a>
            <a href="{% url 'congeRejet' %}">
                <div class="card-3">
                    <p>{{nombreRejet}} <br>Congés Rejetés <span class="fa fa-eye-slash"></span></p>
                </div>
            </a>
            <a href="{% url 'congeEncours' %}">
                <div class="card-4">
                    <p>{{nombreEncours}} <br>Congés encours <span class="fa fa-spinner"></span></p>
                </div>
            </a>
            <a href="{% url 'congeAttenteUser' %}">
                <div class="card-5">
                    <p>{{nombreAttente}} <br>Congés en attente <span class="fa fa-envelope"></span></p>
                </div>
            </a>
            <a href="{% url 'planningOneUser' %}">
                <div class="card-6">
                    <p>{{panningsUser}} <br>Mes Planifications <span class="fa fa-bar-chart"></span></p>
                </div>
            </a>
            <a href="{% url 'listePersonnel' %}">
                <div class="card-7">
                    <p>{{personnel}} <br>Personnels <span class="fa fa-users"></span></p>
                </div>
            </a>
            <a href="{% url 'listeAnnee' %}">
                <div class="card-8">
                    <p>{{plannings}} <br>Planifications <span class="fa fa-book"></span></p>
                </div>
            </a>
            <a href="{% url 'listeAnnee' %}">
                <div class="card-9">
                    <p><span class="fa fa-file-pdf-o"></span> <br>Rapports <span class="fa fa-file-pdf-o"></span></p>
                </div>
            </a>
            <a href="{% url 'StatCongeServiceAnnee' %}">
                <div class="card-10">
                    <p><span class="fa fa-bar-chart"></span>  <br>Statistiques <span class="fa fa-eye"></span></p>
                </div>
            </a>
        </div>
    </section>

    <section class="trasanction">
        <div class="last-trans">
            <p>Tes 5 dernières Demandes des Congés</p>
        </div>
    </section>
    <section class="content-trans">
        <div class="contenu-trans">
            <div class="table table-responsive table-hover">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Titre</th>
                            <th>Motif</th>
                            <th>Nature</th>
                            <th>Réponse</th>
                            <th>Jours</th>
                            <th>Jours consomés</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    {% for liste_object in liste_object %}
                    <tbody id="myTable">
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><span class="fa fa-eye"></span> <a
                                    href="{% url 'detailConge' liste_object.id %}">{{liste_object.titre|truncatewords:1}}
                                </a>
                            </td>
                            <td>{{liste_object.motif|truncatewords:1}}</td>
                            <td>{{liste_object.nature}}</td>
                            {% if liste_object.getReponseConge %}
                            <td>{{liste_object.getReponseConge}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            <td>{{liste_object.getNombreJours}}</td>
                            <td>{{liste_object.get_JoursConsomes}}</td>

                            {% if liste_object.get_conge_demander or liste_object.date_fin < dateToday %} <td
                                style="color: rgb(194, 146, 146);">Action Interdite</td>
                                <td style="color: rgb(194, 146, 146);;">Action Interdite</td>
                                {% else %}
                                <td><a href="{% url 'modifConge' liste_object.id  %}"><span
                                            class="fa fa-pencil"></span> Modifier</a></td>
                                <td><a href="{% url 'suppConge' liste_object.id %}"><span 
                                    class="fa fa-trash"></span> Supprimer</a></td>
                            {% endif %}

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10">Pas des Congés dans la Base de données</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>


{% endblock content %}