{% extends "base/base.html" %}
{% block content %}
<style>
    .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
       
       

    }

    .content .dashboard {
        margin-top: 15px;
    }
    
    .content .contenu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        margin-right: 20px;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.15);
        
        

    }
    .content .contenu a p{
        font-size: 13px;
        font-weight: normal;
        margin-left: 25px;
    }

    .content .contenu .activite-1 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        margin: 8px;
        background-color: #3c5672;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
    .content .contenu .activite-1:hover{
        background-color: #57799d;
    }
    .content .contenu .activite-2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #344767;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        
    }
    .content .contenu .activite-2:hover{
        background-color: #4b6491;
    }

    .content .contenu .activite-3 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #e46050;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        border-left: 5px solid rgb(214, 66, 48);
        order: 4;
    }
    .content .contenu .activite-3:hover{
        background-color: rgb(214, 66, 48);
    }
    .content .contenu .activite-4 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #72b159;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
    .content .contenu .activite-4:hover{
        background-color: #5D9547;
    }
    .content .contenu .activite-5 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        margin: 8px;
        background-color:  #176c9f;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
    .content .contenu .activite-5:hover{
        background-color: #0b476d;
    }
    .content .contenu .activite-6 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #524e8b;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
    .content .contenu .activite-6:hover{
        background-color: #5f5aaa;
    }
    .content .contenu .activite-7 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        background-color: #445C75;
        margin: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
    .content .contenu .activite-7:hover{
        background-color: #324458;
    }
    .content .contenu .activite-8 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 245px;
        height: 90px;
        margin: 8px;
        background-color:  #0f5a6b;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
    }
    .content .contenu .activite-8:hover{
        background-color: #166e81;
    }

    .content .contenu a {
        text-decoration: none;
        color: white;
    }

    .trasanction {
        margin: 14px 8px 0px 0px;
    }

    .content-trans {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.15);
        width: 98%;

    }
    .content .contenu .search input {
        margin-bottom: 8px;
        height: 50px;
        border: 1px solid #7451eb;

    }
    .content-trans .contenu-trans {
        width: 100%;
    }
    .content-trans .contenu-trans table th {
        background-color: #5c7585;
        color: #fff;
        font-size: 14px;
    }

    

    @media(max-width:513px){
        .content{
            margin-left: 0;
        }
        .content .contenu{
            width: 98%;
        }
        .content .contenu a{
            width: 90%;
        }
        .content .contenu .activite-1{
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .activite-2{
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .activite-3{
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .activite-4{
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .activite-5{
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .activite-6{
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .activite-7{
            width: 98%;
            margin-left: 0;
        }
        .content .contenu .activite-8{
            width: 98%;
            margin-left: 0;
        }
    }





    @media(max-width:1135px) {
        .content {
            margin-left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        .content .dashboard {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 95%;
            margin: 10px;
        }

        .content .contenu {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
            padding: 0;
            margin-right: 0;
            

        }



    }
</style>


<div class="content">

    <!-- Tableau de Bord  -->

    <div class="dashboard">
        <div class="contenu">
            <a href="{% url 'CongeUser' %}">
                <div class="activite-1">
                    <p>{{nombreConge}} <br>Tous les Congés <span class="fa fa-cog"></span></p>
                </div>
            </a>
            <a href="{% url 'congeApprouve' %}">
                <div class="activite-2">
                    <p>{{nombreApprouve}} <br>Congés Approuvés <span class="fa fa-check-circle"></span></p>
                </div>
            </a>
            <a href="{% url 'congeRejet' %}">
                <div class="activite-3">
                    <p>{{nombreRejet}} <br>Congés Rejetés <span class="fa fa-eye-slash"></span></p>
                </div>
            </a>
            <a href="{% url 'congeEncours' %}">
                <div class="activite-4">
                    <p>{{nombreEncours}} <br>Congés encours <span class="fa fa-spinner"></span></p>
                </div>
            </a>
            <a href="{% url 'congeAttenteUser' %}">
                <div class="activite-5">
                    <p>{{nombreAttente}} <br>Congés en attente <span class="fa fa-envelope"></span></p>
                </div>
            </a>
            <a href="{% url 'planningOneUser' %}">
                <div class="activite-6">
                    <p>{{panningsUser}} <br>Mes Planifications <span class="fa fa-bar-chart"></span></p>
                </div>
            </a>
            <a href="{% url 'listePersonnel' %}">
                <div class="activite-7">
                    <p>{{personnel}} <br>Personnels <span class="fa fa-users"></span></p>
                </div>
            </a>
            <a href="{% url 'listeAnnee' %}">
                <div class="activite-8">
                    <p>{{plannings}} <br>Planifications <span class="fa fa-book"></span></p>
                </div>
            </a>
        </div>
    </div>


    <!-- Dernières demandes des Congés -->


    <div class="trasanction">
        <div class="last-trans">
            <p>Tes 5 dernières Demandes des Congés</p>
        </div>
    </div>
    <div class="content-trans">
        <div class="contenu-trans">
            <div class="table table-responsive table-hover">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Titre</th>
                            <th>Motif</th>
                            <th>Nature</th>
                            <th>Réponse</th>
                            <th>Jours</th>
                            <th>Jours consomés</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>


                    {% for liste_object in liste_object %}
                    <tbody id="myTable">
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><a
                                    href="{% url 'detailConge' liste_object.id %}">{{liste_object.titre|truncatewords:1}}</a>
                            </td>
                            <td>{{liste_object.motif|truncatewords:1}}</td>
                            <td>{{liste_object.nature}}</td>
                            {% if liste_object.getReponseConge %}
                            <td>{{liste_object.getReponseConge}}</td>
                            {% else %}
                            <td>-</td>
                            {% endif %}
                            <td>{{liste_object.getNombreJours}}</td>
                            <td>{{liste_object.get_JoursConsomes}}</td>

                            {% if liste_object.get_conge_demander or liste_object.date_fin < dateToday %}
                            <td style="color: red;">Action Interdite</td>
                            <td style="color: red;">Action Interdite</td>
                            {% else %}
                            <td><a href="{% url 'modifConge' liste_object.id  %}">Modifier</a></td>
                            <td><a href="{% url 'suppConge' liste_object.id %}">Supprimer</a></td>
                            {% endif %}

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="10">Pas des Congés dans la Base de données</td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}