{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
        background-color: rgb(237, 241, 241);
    }
    .content .alert{
        margin-top: 30px;

    }
    .content .contenu{
        margin-top: 55px;
        margin-bottom: 50px;
        padding: 22px;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.20);
        border-radius: 5px;
        width: 90%;
        
    }
    .content .contenu p{
        text-align: justify;
    }
    .content .contenu img{
        float: left;
        width: 40%;
        margin-right: 15px;
    }




    /*Media*/
    @media(max-width:800px){
        .content .contenu{
            width: 95%;
        }
    }
</style>

<div class="content">
    <div class="contenu">
        <img src="{% static 'img/1697450100852~2.jpg' %}" alt="">
        <h2>Appropos de nous </h2>
        <p>Bienvenue sur TakeLeave ! Notre objectif est de simplifier et d'optimiser le processus de demande et de gestion des congés pour les entreprises. Que vous soyez un employeur ou un employé, nous sommes là pour vous aider à organiser efficacement vos congés et à minimiser toute confusion ou frustration liée à ce processus.</p>
        <p>Notre équipe regroupe des experts en gestion des ressources humaines et en développement d'applications web, ce qui nous permet de fournir une solution complète et adaptée à vos besoins spécifiques. Nous comprenons les défis auxquels vous êtes confrontés lorsqu'il s'agit de planifier et de gérer les congés de votre personnel, et nous sommes là pour vous accompagner à chaque étape.</p>
        <p>Les employés peuvent simplement se connecter à leur compte et soumettre leurs demandes en quelques clics. Ils peuvent également consulter leur solde de congés disponibles, suivre le statut de leurs demandes et recevoir des notifications automatiques pour les rappeler des dates importantes.</p>
        <p>Pour les gestionnaires, notre système offre une vision globale des demandes de congés de l'ensemble de l'entreprise. Cela permet une meilleure allocation des ressources et une planification plus précise, en minimisant les conflits d'horaires et en garantissant que les opérations se déroulent sans heurts même pendant les périodes de forte demande.</p>
        <p>La sécurité des données est une priorité absolue pour nous. Nous utilisons des mesures de sécurité avancées pour protéger vos informations personnelles et professionnelles. Vous pouvez avoir l'esprit tranquille en sachant que vos données sont confidentielles et ne seront pas partagées avec des tiers sans votre consentement.</p>
        <p>Notre équipe de support dévouée est là pour répondre à toutes vos questions et vous assister en cas de problème. Nous mettons un point d'honneur à offrir un service client de qualité, car votre satisfaction est notre priorité. N'hésitez pas à nous contacter si vous avez besoin d'aide ou de conseils supplémentaires</p>
        <p>Nous croyons fermement en l'importance d'une gestion efficace des congés pour favoriser un équilibre travail-vie personnelle sain. Nous avons conçu cette application dans le but de simplifier et d'améliorer cette expérience pour vous et votre équipe, afin que vous puissiez mieux concilier votre vie professionnelle et personnelle.</p>
        <p>Nous sommes constamment à l'écoute de vos retours et suggestions pour améliorer notre plateforme. Vos idées nous aident à évoluer et à offrir des fonctionnalités toujours plus adaptées à vos besoins. Rejoignez-nous dès maintenant et simplifiez dès aujourd'hui la gestion des congés au sein de votre entreprise !</p>
    </div>
</div>
  
{% endblock content %}
  
