<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(34, 52, 68);
        color: white;
        height: 80px;
        text-align: center;


    }

    footer p {
        font-size: 17px;
    }
    footer p a{
        color: white;
        text-decoration: underline;
    }
    footer p a:hover{
        color: teal;
    }
    @media(max-width:980px){
        footer{
            height: auto;
            padding: 10px;
        }
    }
</style>


<footer>
    <p>&copy Tous doits reservés par <a href="https://github.com/Henriprogrammmeurweb" target="_blank">Henri developpement</a> </p>
</footer>

