@font-face {
    font-family: "Inter";
    src: local("Inter"), url('/static/fonts/inter/Inter-Regular.ttf');
}
body{
    font-family: "Inter",Verdana, Geneva, Tahoma, sans-serif;
    
}
html{
    font-size: 14px;
}
table tr td{
    font-size: 13px;
}
table tr th{
    background-color: rgb(18, 89, 131);
    color: white;
}
/* .content .contenus .contenu .link a{
    width: 250px;
    padding: 20px;
} */
/* .content .contenu .link a{
    padding: 20px;
    
} */
.content .contenus .contenu .link input{
    padding: 25px;
    width: 100%;
}
.content .contenus .contenu form button{
    padding: 15px;
   
}
.content .contenus .contenu .titre{
    margin-top: 25px;
}
