{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
        background-color: rgb(59, 79, 98);
    }
    .content .alert{
        margin-top: 30px;

    }
    .content .contenu{
        margin-top: 55px;
        margin-bottom: 50px;
        padding: 22px;
        background-color: white;
        border-radius: 15px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content .contenu .bienvenue{
        width: 50%;
    }
    .content .contenu .bienvenue img{
        width: 100%;
    }
    .content .contenu form{
        width: 100%;
    }
    .content .contenu form h3{
        font-weight: bold;
        color: rgb(245, 127, 59);
    }
    .content .contenu form button{
        margin-top: 15px;
        background-color: rgb(245, 127, 59);
        color: white;
    }


    /*Media*/
    @media(max-width:800px){
        .content .contenu{
            width: 95%;
        }
    }
</style>

<div class="content">
    <div class="contenu">
        <div class="bienvenue">
            <img src="{% static 'img/user.png' %}" alt="">
        </div>
        <form action="" method="post" novalidate>
            <h3>Connectez-vous</h3>
            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
              <p>{{message}}</p>
            </div>
            {% endfor %}
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-block">Se connecter</button>
            <a href="">Mot de passe oublié ?</a>
        </form>
    </div>
</div>
  
{% endblock content %}