{% extends "base/base.html" %}
{% block content %}
<style>
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: teal;
        margin-top: 134px;
    }
    .content .contenu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 10px;
        border-radius: 5px;
    }
    .content .contenu form{
        width: 98%;
    }
    .content .contenu form button{
        margin-top: 8px;
        margin-bottom: 8px;
    }
</style>

<div class="content">
    <div class="contenu">
        <p style="color: teal;">Voulez-vous modifier le service {{get_id.designation}}</p>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-danger btn-block">Valider les Modifications</button>
            <a href="{% url 'listeService' %}" class="btn btn-dark btn-block">Ne pas modifier</a>
        </form>
    </div>
</div>
  
{% endblock content %}