{% extends "base/base.html" %}
{% block content %}
 <style>
    .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
        margin-right: 7px;

    }

    .content .contenus {
        margin-top: 15px;
    }

    .content .contenu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        margin-right: 20px;

    }

    .content .contenu .link {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 15px;
        width: 100%;
        flex-wrap: wrap;
    }
    .content .contenu .link a{
        margin-bottom: 20px;
        margin: 7px;
        padding: 20px;
        color: white;
        width: auto;
    }

    .content .contenu form {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .content .contenu form input {
        width: 100%;
        border: 1px solid cadetblue;
        margin-bottom: 10px;
        padding: 25px;
    }

    .content .contenu .link a {
        margin-bottom: 20px;
        margin: 7px;
        padding: 20px;
    }

    .content .contenu table {
        width: 100%;
    }

    .content .contenu table tr th {
        background-color: rgb(18, 89, 131);
        color: white;
    }
    .content .contenu table tr td a{
        color: teal;
    }


    @media(max-width:1135px) {
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5px;
            margin-right: 5px;
            
        }
    .content  .contenus{
        margin-top: 15px;
        width: 95%;
    }
    .content .contenu{
        display: flex;
        justify-content: flex-start;
        align-items:flex-start;
        flex-wrap: wrap;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
        padding: 10px;
        margin-right: 0;
        width: 100%;
        
    }
    .content .contenus .contenu table{
        width: 100%;
    }
    }
 </style>


<div class="content">
        <div class="contenu">
            <div class="link">
                <a href="{% url 'ajoutAnnee' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span> Ajouter une Année</a>
                <a href="{% url 'listePlanning' %}" class="btn btn-success"><span class="fa fa-plus"></span> Planification les Congés</a>
            </div>
            <form action="" method="GET">
                <input type="text" name="recherche" class="form-control" required placeholder="Rechercher ici..........."
                    id="search">
            </form>
            <p>Liste des Années & Planification des Congés</p>
            <div class="messages">
                {% for message in messages %}
                  <div class="alert alert-warning" role="alert">
                    <p>{{message}}</p>
                  </div>
                {% endfor %}
            </div>
            <table class="table table-hover table-responsive">
                
            <tr>
                <th>N°</th>
                <th>Designation</th>
                <th>Planification</th>
                <th colspan="2">Rapport</th>
                <th>Date début</th>
                <th>Date fin</th>
                <th>Date_creation</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
                
                {% for liste_object in liste_object %}
                <tbody id="myTable">
              <tr>
                <td>{{forloop.counter}}</td>
                <td style="text-transform: uppercase;"> <a href="{% url 'planningAnnee' liste_object.id %}"> <span class="fa fa-eye"></span> {{liste_object.designation}}</a></td>
                <td><a href="{% url 'planningAnnee' liste_object.id %}"> <span class="fa fa-eye"></span> Planification</a></td>
                <td><a href="{% url 'planning-annee'  liste_object.id %}"><span class="fa fa-file-pdf-o"></span> Planning PDF</a></td>
                <td><a href="{% url 'export_csv_planningAnuel' liste_object.id %}"><span class="fa fa-file-excel-o"></span> En Excel</a></td>
                <td>{{liste_object.date_debut}}</td>
                <td>{{liste_object.date_fin}}</td>
                <td>{{liste_object.date_creation}}</td>
                {% if liste_object.get_anneePlannig %}
                <td style="color: rgb(194, 146, 146);;">Action Interdite</td>
                <td style="color: rgb(194, 146, 146);;">Action Interdite</td>
                {% else %}
                <td><a href="{% url 'modifAnnee' liste_object.id %}"><span class="fa fa-pencil"></span> Modifier</a></td>
                <td><a href="{% url 'suppAnnee' liste_object.id %}"><span class="fa fa-trash"></span> Supprimer</a></td>
                {% endif %}
              </tr>
              {% empty %}
              <tr>
                <td colspan="5">Pas d'années dans la base de données</td>
              </tr>
                
                </tbody>
                {% endfor %}
            </table>
        </div>

</div>

<script>

    $(document).ready(function(){
       $("#search").on("keyup", function(){
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function(){
             $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value)>-1)
          });
       });
    });
 
 </script>
  
{% endblock content %}

