{% extends "base/base.html" %}
{% load static %}
{% block content %}
<style>
    .profils{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
        margin-right: 7px;
        
    }
    .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
        width: 100%;
        padding-left: 35px;
        padding-top: 30px;

    }

    .content .contenu {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        margin-right: 20px;
        margin-top: 15px;
    

    }

    .content .contenu .link {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 15px;
        width: 100%;
    }

    .content .contenu form {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .content .contenu form input {
        width: 100%;
        border: 1px solid cadetblue;
        margin-bottom: 10px;
        padding: 25px;
    }

    .content .contenu .link a {
        margin-bottom: 20px;
        margin: 7px;
        padding: 20px;
    }

    .content .contenu table {
        width: 100%;
    }

    .content .contenu table tr th {
        background-color: rgb(106, 118, 126);
        color: white;
    }

    .content-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }

    .content-img .img {
        width: 190px;
        height: 190px;
        margin-bottom: 50px;


    }

    .content-img .img img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
    }

    .content-img .img p {
        margin-top: 10px;
        text-align: center;
    }


    @media(max-width:530px) {
    .profils{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
        margin: 7px;

    }
    .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
        width: 100%;
        padding-left: 35px;
        padding-top: 30px;

    }
    }
</style>

<div class="profils">
    <div class="content-img">
        {% if user.is_authenticated %}
        <div class="img">
                {% if get_personnel.photo %}
                    <img src="{{get_personnel.photo.url}}" alt="">
                {% else %}
                <img src="{% static 'assets/img/userlogo.png' %}" alt="">
                {% endif %}
            <hr>
            <p>Crée dépuis : {{get_personnel.date_creation}}</p>
        </div>

        {% endif %}
    </div>
    <div class="content">
        <div class="titre">
            <p>Informations du Personnel</p>
        </div>
        {% if user.is_authenticated %}
        <div class="infos-personnels">
            <ul>
            <li>Nom : {{get_personnel.username}}</li>
            <li>PostNom : {{get_personnel.postnom}}</li>
            <li>Prénom : {{get_personnel.prenom}}</li>
            <li>Sexe : {{get_personnel.sexe}}</li>
            {% if get_personnel.matricule %}
            <li>Matricule : {{get_personnel.matricule}}</li>
            {% else %}
            <li>Matricule : -</li>
            {% endif %}
            <li>Email : {{get_personnel.email}}</li>
            {% if get_personnel.grade %}
            <li>Grade : {{get_personnel.grade}}</li>
            {% else %}
            <li>Grade : -</li>
            {% endif %}
            {% if get_personnel.fonction %}
            <li>Fonction : {{get_personnel.fonction}}</li>
            {% else %}
            <li>Fonction : -</li>
            {% endif %}
            {% if get_personnel.fonction.service %}
            <li>Service : {{get_personnel.fonction.service}}</li>
            {% else %}
            <li>Service : -</li>
            {% endif %}
            <li>Etat Civil : {{get_personnel.etat_civil}}</li>
            {% if get_personnel.salaire %}
              <li>Salaire : {{get_personnel.salaire}}</li>
            {% else %}
            <li>Salaire : -</li>
            {% endif %}
            <li>Demandeur : {{get_personnel.demandeur}}</li>
            <li>Approbateur : {{get_personnel.approbateur}}</li>
            <li>Consulteur : {{get_personnel.consulteur}}</li>
            <li>Admin : {{get_personnel.is_superuser}}</li>
            {% if get_personnel.date_naissance %}
            <li>Date de Naissance : {{get_personnel.date_naissance}}</li>
            {% else %}
                <li>Date de Naissance : -</li>
            {% endif %}
            {% if get_personnel.date_engagement %}
              <li>Date d'engagement : {{get_personnel.date_engagement}}</li>
            {% else %}
            <li>Date d'engagement : -</li>
            {% endif %}
            <li>Date creation : {{get_personnel.date_creation}}</li>
            <li>Date Modification : {{get_personnel.date_modification}}</li>
              </ul>
            <hr>
        </div>
        {% endif %}
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLocaleLowerCase().indexOf(value) > -1)
            });
        });
    });

</script>

{% endblock content %}

