{% extends "base/base.html" %}
{% load static %}
{% block content %}

<style>
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        background-color: rgb(59, 98, 116);
        height: 100vh;
       
    }
    .content .alert{
        margin-top: 30px;

    }
    .content .contenu{
        margin-top: 55px;
        margin-bottom: 50px;
        padding: 22px;
        background-color: white;
        border-radius: 5px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
    }
    .content .contenu form{
        width: 100%;
    }
    .content .contenu .connexion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content .contenu form button{
        margin-top: 15px;
        color: white;
        padding: 10px;
    }



    /*Media*/
    @media(max-width:800px){
        .content{
            margin: 0;
        }
        .content .contenu{
            width: 95%;
        }
    }
</style>

<div class="content">
    <div class="contenu">
        <div class="connexion">
            <p>Changer votre Mot de passe</p>
        </div>
        <div class="message">
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                <p>{{message}}</p>
            </div>
            {% endfor %}
        </div>
        <hr style="width: 100%;height: 5px;">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <label for="ancien_mot_de_passe">Ancien mot de passe</label>
            {% for error in form.old_password.errors %}
              <p style="color: red;">{{error}}</p>
            {% endfor %}
            {{form.old_password}}
            <label for="nouveau_mot_de_passe">Nouveau mot de passe</label>
            {% for error in form.new_password1.errors %}
            <p style="color: red;">{{error}}</p>
          {% endfor %}
            {{form.new_password1}}
            <label for="confirme_mot_de_passe">Confirmer</label>
            {% for error in form.new_password2.errors %}
            <p style="color: red;">{{error}}</p>
          {% endfor %}
            {{form.new_password2}}
            <button type="submit" class="btn btn-info btn-block">Changer ?</button>
        </form>
    </div>
</div>
  
{% endblock content %}